
body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 
.post{
    
    background-color:#C7B847;
    color:black;
    padding:10px;
    font-weight:bolder;
    font-size:15px;
    
}
.postButtons{
    padding-left:44%;
    padding-top:13%;
}
/* Set a style for the rest of the elements besides the header elements on the index.html page */
                                 
